.body {
    margin: 0 3vw;
    display: grid;
    grid-template-rows: 70px auto 200px;
    height: 100vh;

    h2 {
        grid-row: 1/2;
        align-items: flex-start;
    }

    .content {
        grid-row: 2/3;
        display: flex;
        flex-direction: column;

        
    }


    .control {
        grid-row: 3/4;
        justify-self: center;
        align-self: center;
        display: flex;
        flex-direction: column;

    }
}